body {
  /* background-color: rgb(35, 30, 43); */
  background-color: hsl(268, 18%, 32%);
}
.loading {
  text-align: center;
  font-size: 50px;
  color: white;
}

.header {
  text-align: center;
  color: white;
}

.review-list {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  margin: 10px;
  z-index: -1;
}

.review-info {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255, 0.2);
}

.review-votes-comments {
  display: flex;
  position: absolute;
  width: 100%;
  height: min-content;
  z-index: 1;
  bottom: 0;
  margin: 1px;
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}

.review-list-votes {
  color: white;
  margin: 0px 10px;
  cursor: pointer;
}
.review-list-votes:hover {
  background-color: rgb(139, 139, 139);
  color: rgb(0, 0, 0);
}

.review-list-comments {
  color: white;
  margin: 0px 10px;
  cursor: pointer;
}
.review-list-comments:hover {
  background-color: rgb(139, 139, 139);
  color: rgb(0, 0, 0);
}

.review {
  display: flexbox;
  position: relative;
  width: 400px;
  height: 150px;
  border: 5px solid black;
  margin: 10px;
  margin-bottom: 50px;
}

.review-header {
  font-size: 30px;
  position: relative;
  word-wrap: break-word;
  color: rgb(14, 0, 51);
  text-shadow: -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;

  margin: 0;
}

.review-owner {
  margin: 0;
  color: rgb(14, 0, 51);
  text-shadow: -0.5px 0 #ffffff, 1px 0.5px 0 #ffffff, -0.5px 1px 0 #ffffff,
    0.5px 0.5px 0 #ffffff;
}

.review-card-img {
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.review-page {
  background-color: rgb(42, 36, 51);
  height: 100%;
  margin: 10px;
  padding: 10px;
}

.review-title {
  text-align: center;
  color: white;
  text-shadow: -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.review-body {
  padding: 5px;
  margin: 10px;
  color: rgb(0, 0, 0);
  /* background-color: rgb(30, 30, 43); */
  background-color: hsl(268, 18%, 32%);
  border: 2px solid rgb(0, 0, 0);
  line-height: 1.8;
  word-wrap: break-word;
}

.comment-area {
  display: block;
  height: 100px;
  width: 90%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(30, 30, 43);
  color: white;
}

.review-comments {
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  height: auto;
  word-wrap: break-word;
  font-size: 60px;
  background-color: rgb(30, 30, 43);
  width: 90%;
  color: rgb(189, 189, 189);
}

.no-comments {
  word-wrap: break-word;
  font-size: 14px;
}

.review-comment {
  text-align: left;
  border: 1px solid white;
  font-size: 14px;
  padding: 5px;
  margin: 10px;
}

.comment-bar {
  display: flex;
  margin: 0px;
  font-weight: 1;
}

#comment-bar {
  margin: 0;
  margin-right: 7px;
}

.review-votes-comments-count {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  color: white;
}

.review-votes-count {
  color: rgb(189, 189, 189);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 20px;
  font-size: 15px;
}

.review-comments-count {
  color: rgb(189, 189, 189);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
  font-size: 15px;
}

.modal-overlay {
  background-color: rgb(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
}

.comments-modal {
  max-width: 600px;
  width: 80%;
  height: 500px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0px 0px 18px 0px rgb(0, 0, 0, 0.75);
  background-color: white;
  border-radius: 3%;
}

.model-X {
  position: fixed;
  top: 15px;
  right: 20px;
  margin: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}
